<section id="about">
  <% if (config.description) { %>
    <%- markdown(config.description) %>
  <% } %>
  <p style="display: inline">
    <% if (theme.customize.social_links) { %>
      <p><strong>Talk is cheap, show me the code.</strong></p>
      <!--
      <p><strong>开放共享</strong> 是我们的初衷。</p>
      <p>将不定期地发布一些技术文档，希望能够有所帮助。</p>
      <p><strong>Have fun!!!</strong></p>
      -->
      <!--
      <ul id="socialinfo">
        <% for(var i in theme.customize.social_links) { %>
          <li><a class="icon" target="_blank" href="<%- url_for(theme.customize.social_links[i]) %>"><i class="fa fa-<%= i %>"></i></a></li>
        <% } %>
      </ul>.
      -->
    <% } %>
  </p>
</section>

<section id="writing">
  <span class="h1"><a href="<%- url_for("posts") %>">Writing</a></span>
  <ul class="post-list">
    <% if (theme.customize.show_all_posts) { %>
      <% var show_posts = page.posts.sort('date', 'desc') %>
    <% } else { %>
      <% var show_posts = site.posts.sort('date', 'desc').limit(theme.customize.post_count || 5) %>
    <% } %>
    <% show_posts.each(function(post, i){ %>
      <li class="post-item">
        <%- partial('_partial/post/date', { post: post, class_name: 'meta' }) %>
        <span><%- partial('_partial/post/title', { post: post, index: true, class_name: '' }) %></span>
      </li>
    <% }); %>
  </ul>
  <% if (theme.customize.show_all_posts) { %>
    <%- partial('_partial/pagination') %>
  <% } %>
</section>

<% if (site.data.projects) { %>
<section id="projects">
  <span class="h1"><a href="<%- url_for(theme.projects_url) %>">Projects</a></span>
  <ul class="project-list">
    <% for(var obj in site.data.projects){ %>
      <li class="project-item">
        <a href="<%= site.data.projects[obj].url %>"><%= site.data.projects[obj].name %></a>: <%= site.data.projects[obj].desc %>
      </li>
    <% } %>
  </ul>
</section>
<% } %>

<% if (theme.show_category_section) { %>
  <section id="categories">
    <span class="h1"><a href="<%- url_for('/categories') %>">Categories</a></span>
    <% if (site.categories && site.categories.length > 0) { %>
      <ul class="category-list">
        <% site.categories.forEach(function(category){ %>
          <li class="category">
            <a href="<%= url_for(category.path) %>"><%= category.name %></a> (<%= category.length %>)
          </li>
        <% }) %>
      </ul>
    <% } else { %>
      <p>No categories found.</p>
    <% } %>
  </section>
<% } %>

<% if (theme.show_tags_section) { %>
<section id="tags">
  <span class="h1"><a href="<%- url_for('/tags') %>">Tags</a></span>
  <% if (site.tags && site.tags.length > 0) { %>
    <ul class="tag-list">
      <% site.tags.forEach(function(tag){ %>
        <li class="tag">
          <a href="<%= url_for(tag.path) %>"><%= tag.name %></a> (<%= tag.length %>)
        </li>
      <% }) %>
    </ul>
  <% } else { %>
    <p>No tags found.</p>
  <% } %>
</section>
<% } %>

